
<mat-toolbar color="primary">

  <button mat-button (click)="addCasse()" *ngIf="type === 'month'">Добавить событие</button>
  <button mat-button (click)="backward()" *ngIf="type === 'day'">Назад</button>

  <span class="fill-spacer"> </span>
  <button mat-icon-button aria-label="arrow left" *ngIf="type === 'month'" (click)="goPrev()">
    <mat-icon>arrow_left</mat-icon>
  </button>

  <span>{{mHeader}}</span>
  <button mat-icon-button aria-label="arrow right"  *ngIf="type === 'month'" (click)="goNext()">
    <mat-icon>arrow_right</mat-icon>
  </button>
  <span class="fill-spacer"> </span>
  <mat-form-field *ngIf="type === 'month'">
    <input matInput placeholder="Поиск " value="" (change)="search($event)">
  </mat-form-field>

</mat-toolbar>

