<div>
  {{reactiveForm.value | json}}
</div>

<p>casse-dialog works!</p>

<form [formGroup]="reactiveForm" (submit)="saveFormForCase()">

  <mat-form-field>
    <mat-label>Событие</mat-label>
    <mat-select matNativeControl required formControlName="case">
      <mat-option *ngFor="let item of nameList.cassesNameList"
                  [value]="item">{{item.text}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput [matDatepicker]="picker"
      placeholder="Дата"
      formControlName="date"
      id="date"
      (dateInput)="buildListHours('input', $event)"
      (dateChange)="buildListHours('change', $event)"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Время</mat-label>
    <mat-select  formControlName="time">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let hour of day.caseList"
                  [disabled]="hour.disabled"
                  [value]="hour.value">
        {{hour.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="casse name" formControlName="task" value="Задачи">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <textarea matInput placeholder="input description" formControlName="description" value="Описание"></textarea>
  </mat-form-field>

  <br/>

  <button mat-button type="submit" color="primary">сохранить</button>

</form>


