<div>
  <h4 class="month-head" [ngStyle]="{'color': name == 'воскресенье' ? 'darkRed' : '#3f51b5' }">
    {{ name }}<br/>{{ num }}
  </h4>


  <button *ngFor="let icon of buttonList" mat-mini-fab aria-label="" color="primary" (click)="cassesClick($event)">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</div>
