.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 11%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.container {
  display:flex;
  width:100%;
  flex-flow:row wrap;
  justify-content: space-between;
}
