<app-header
  (setNewMonth)="goToMonth($event)"
  (setNewCasse)="openDialog($event)"
  (setBackward)="backward($event)"
  [header]="type === 'month' ? dateService.nameOfMonth() : dayName"
  [type]=type>

</app-header>

<mat-grid-list cols="7" rowHeight="7:6" *ngIf="type === 'month'">
  <mat-grid-tile *ngFor="let day of range(COUNTGRID)">
    <app-days-card
      *ngIf="day >= dateService.firstDay() &&
         day < dateService.daysInMonth() + dateService.firstDay()"
      [firstDay]="dateService.firstDay()"
      [name]="dateService.nameOfDay((day) % 7)"
      [day]="day"
      (gotoDay)="setDay($event)"
    >
      <!--        -->
    </app-days-card>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="type === 'day'">
  <mat-card *ngFor="let hour of currentDay.caseList">
    <mat-card-header>
      <mat-card-title *ngIf="hour.case">{{ hour.case.head }}</mat-card-title>
      <mat-card-subtitle *ngIf="hour.case">Запланировано на {{ hour.name }}</mat-card-subtitle>
    </mat-card-header>
    <button color="primary" mat-mini-fab aria-label="" color="primary" *ngIf="hour.case">
      <mat-icon>{{hour.case.name}}</mat-icon>
    </button>
    <div *ngIf="hour.case">{{ hour.case.description }}</div>
  </mat-card>
</div>
